1-Determine the types of the below-given variables:

Age --> Discrete Variables

Salary --> Continuous Variables

Income --> Continuous Variables

Customer type --> Categorical Variables - Nominal Variables

Stock price --> Continuous Variables

2-Using the movie data, we have studied in this lesson. Complete the following tasks:

-Select a variable from the movie dataset and discuss the variable type of this variable

Seçtiğim değişken   cast_total_facebook_likes, Dtype'ta da yazdığı üzere integer bir değişken.

In [20]:
import pandas as pd
import numpy as np
movie = pd.read_csv("movie.csv")

movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

-Categorize a variable of your choice and assign a name to it

-Count the number of rows for each category

In [36]:
print(movie. director_facebook_likes)

def likes(director):
    if director >= 10000:
        return 3
    elif (director < 10000) and (director > 5000):
        return 2
    else:
        return 1
    
movie['directorFacebookLikes_grup'] = movie['cast_total_facebook_likes'].apply(likes)
display(movie.head())
movie.groupby("directorFacebookLikes_grup")["director_name"].count()

def likes_situation(director):
    if director >= 10000:
        return "High"
    elif (director < 10000) and (director > 5000):
        return "Medium"
    else:
        return "Low"
    
movie['directorFLSituation_grup'] = movie['cast_total_facebook_likes'].apply(likes_situation)
display(movie.head())
movie.groupby("directorFacebookLikes_grup")["director_name"].count()

0           0.0
1         563.0
2           0.0
3       22000.0
4         131.0
         ...
5038        2.0
5039        NaN
5040        0.0
5041        0.0
5042       16.0
Name: director_facebook_likes, Length: 5043, dtype: float64

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,directorFacebookLikes_grup,directorFLSituation_grup
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,1,1
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,3,3
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,3,3
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,3,3
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,1,1

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,directorFacebookLikes_grup,directorFLSituation_grup
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,1,Low
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,3,High
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,3,High
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,3,High
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,1,Low

directorFacebookLikes_grup
1    3076
2     307
3    1556
Name: director_name, dtype: int64

3-Is it possible to convert categorical variable into numerical one? If so, how can you make that?

Categorical variables are variables that are passed as strings. They are the variables we give in quotes. For example, while we have data called male and female, we can give 1 and 0 to make it numerical, thus converting it to binary variables.

Kategorik değişkenler string olarak geçen değişkenlerdir. Tırnak içinde verdiğimiz değişkenlerdir. Örneğin kadın erkek diye datamız var iken bunun numerik olması için 1 ve 0 verebiliriz, bu şekilde binary değişkene çevirmiş oluruz.

4-While continuous data is generally preferred over discrete data, please indicate circumstances where discrete is the preferred data type although continuous data is available for the same characteristic.

When there are multiple variables with continuous data, it becomes difficult to map data. The impact on the visualization of such data mappings is enormous and charts / graphs become very complex and confusing. The numbers / labels in this type of chart usually don't make sense. These numbers need to make sense. Therefore, it can be achieved with discrete data to collect numbers in groups or categories and to represent categories as confidential data, thus making the map more structured and presentable.

Sürekli veriye sahip birden fazla değişken olduğunda, verileri haritalamak zorlaşır. Bu tür veri eşlemelerinin görselleştirilmesi üzerindeki etkisi büyüktür ve çizelgeler / grafikler çok karmaşık ve kafa karıştırıcı hale gelir. Bu tür grafiklerdeki sayılar / etiketler genellikle anlam ifade etmez. Bu sayılara anlam verme ihtiyacı vardır. Bu nedenle, sayıların gruplar veya kategoriler halinde toplanması ve kategorilerin gizli veriler olarak temsil edilmesi ve böylece haritanın daha yapılandırılmış ve sunum yapılabilir hale getirilmesi kesikli verilerle sağlanabilir.

5- While continuous data is measured and attribute data is counted, there is sometimes confusion if some specific dataset should be considered continuous or attribute. Provide some examples of confusing datasets and your inference.

A certain group of people ages 10,15,20,35,45,60,75,79. These are qualitative data. But it is continuous data in a certain range, for example between the ages of 10-80.

Belirli bir grup insanın yaşları 10,15,20,35,45,60,75,79. Bunlar niteliksel veridir. Fakat belli bir aralıkta örneğin 10-80 arası yaşta sürekli veridir.